# Configuración de desarrollo. Spring Boot carga este archivo automáticamente.
# Estas credenciales son solo para el proyecto académico.
spring.profiles.active=cloud
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:4200
DB_URL=jdbc:postgresql://aws-0-ca-central-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.hsadubnvbbfiicxfmkcj
DB_PASSWORD=if$$_z6r$zB_Lqp
JAVA_TOOL_OPTIONS=-Xms64m -Xmx256m -XX:+UseSerialGC -XX:+ExitOnOutOfMemoryError

# Clave de desarrollo. Cambiarla si se publica fuera del curso.
JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
